html {
    font-size: 70%;
    min-width: 1000px;
}
.header-main {
    line-height: 22px;
    color: #ffffff;
    font-size: 1.2rem;
    height: 3.5%;
    min-height: 22px;
    background: -webkit-linear-gradient(left, rgb(52,34,80) , rgb(29,61,104)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(52,34,80), rgb(29,61,104)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(52,34,80), rgb(29,61,104)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(52,34,80) , rgb(29,61,104)); /* 标准的语法 */
}
.header-main a {
    color: #ffffff;
    font-size: 1.2rem;
}
.menu-bg {
    height: 5.6%;
    min-height: 30px;
    background: -webkit-linear-gradient(left, rgb(57,41,90) , rgb(29,69,119)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, rgb(57,41,90), rgb(29,69,119)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, rgb(57,41,90), rgb(29,69,119)); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(57,41,90), rgb(29,69,119)); /* 标准的语法 */
}
.parent-height {
    height: 100%;
}
.sidebar-child li >a{
    padding-left: 33px;
}
.main-body{
    height: 90%;
    min-height: 400px;
}
.form-min-width {
    min-width: 1000px;
}
.main-body >.row,.main{
    height: 100%;
}
.sidebar {
    height: 100%;
    padding: 0;
    background-color: rgb(226,227,234);
}
.nav li >a{
    color: #000000;
    font-size: 1.2rem;
}
.sidebar hr {
    margin: 0 20px;
    background-color: rgb(251,251,251);
}
.main-tab {
    font-size: 1.7rem;
    color: rgb(50,53,114);
    background-color: rgb(226,227,234);
    margin-left: 10px;
    padding: 6px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.sidebar-child,
.block-box {
    display: block;
}
.sidebar-child li {
    line-height: 8px;
    font-size: 1.2rem;
}
.sidebar-click {
    text-decoration: none;
    background-color: #eee;
}
.con-header {
    background-color: rgb(226,227,234);
    height: 30px;
    padding-top: 5px;
}
.nav-tabs > li > a {
    line-height: 3.7px;
    font-size: 1.2rem;
}
.close {
    font-size: 1.5rem;
    line-height: 2px;
    margin-left: 6px;
}
.nav li a {
    padding-right: 6px;
}
.nav-open {
    transform: rotate(-90deg);
}
.con-body {
    height: 92%;
}
.con-box {
    margin-top: 15px;
    overflow: auto;
    height: 100%;
}
.none-box {
    display: none;
}
.width-100 {
    width: 100%;
}
.width-92 {
    width: 92%;
}
.width-20 {
    width: 20%;
}
.width-25 {
    width: 25%;
}
.width-73 {
    width: 73%;
}
.width-15 {
    width: 15%;
}
.height-5 {
    /*height: 5%;*/
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active{
    background-color: rgb(226,227,234);
}
.table-responsive {
    width: 100%;
    margin-top: 1%;
    border-radius: 5px;
    overflow-x: hidden;

}
.keywordTable,.inGroupTable {
    width: 100%;
    table-layout:fixed;
}
.table>thead {
    background-color: rgb(226,227,234);
}
.table>thead>tr>th {
    line-height: 13px;
}
.table td {
    overflow: hidden;
    word-wrap:break-word;
    word-break:break-all;
}
.textOverflow{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.table-bordered > tbody > tr:nth-child(even) {
    background-color: #f9f9f9;
}
.keywordTable tr th:nth-child(1) {
    width: 10%;
}
.keywordTable tr th:nth-child(2) {
    width: 14%;
}
.keywordTable tr th:nth-child(3) {
    width: 9%;
}
.keywordTable tr th:nth-child(4) {
    width: 20%;
}
.keywordTable tr th:nth-child(5) {
    width: 18%;
}
.keywordTable tr th:nth-child(6) {
    width: 18%;
}


/*消息管理列表*/
.messageTable {
    table-layout:fixed;
}
.mes-box {
    overflow-x: auto;
    width: 1700px;
}
.msg1-box {
    width: 1030px;
}
.msg1 tr th:nth-child(1) {
    width: 90px;
}

.msg1 tr th:nth-child(2){
    width: 210px;
}
.msg1 tr th:nth-child(3),
.msg1 tr th:nth-child(4){
    width: 150px;
}
.msg1 tr th:nth-child(5){
    width: 80px;
}
.msg1 tr th:nth-child(6){
    width: 150px;
}
.msg1 tr th:nth-child(7){
    width: 110px;
}
.msg1 tr th:nth-child(8){
    width: 85px;
}



.msg2-box {
    width: 1200px;
}
.msg2 tr th:nth-child(1){
    width: 80px;
}
.msg2 tr th:nth-child(2){
    width: 120px;
}
.msg2 tr th:nth-child(3){
    width: 60px;
}
.msg2 tr th:nth-child(4){
    width: 60px;
}
.msg2 tr th:nth-child(5){
    width: 90px;
}
.msg2 tr th:nth-child(6){
    width: 146px;
}
.msg2 tr th:nth-child(7){
    width: 90px;
}
.msg2 tr th:nth-child(8){
    width: 60px;
}
.msg2 tr th:nth-child(9){
    width: 60px;
}
.cancel,.cancelUp{
    margin-left: 10px;
}

.msg3 tr th:nth-child(3),
.msg3 tr th:nth-child(4),
.msg3 tr th:nth-child(5),
.msg3 tr th:nth-child(6){
    width: 60px;
}
.msg3 tr th:nth-child(7),
.msg3 tr th:nth-child(8){
    width: 100px;
}
.msg3 tr th:nth-child(9) {
    width: 80px;
}
.msg3 tr th:nth-child(10){
    width: 60px;
}
.msg-child li a{
    padding-left: 53px;
    font-size: 1rem;
}
.msg-child li{
    line-height: 5px;
}
/*群管理*/
#group-mngm .mes-box{
    width: 1200px;
}
#groupName {
    width: 400px;
}
.groupTable {
    table-layout: fixed;
}
.groupTable tr th:nth-child(1) {
    width: 30px;
}
.groupTable tr th:nth-child(2) {
    width: 50px;
}
.groupTable tr th:nth-child(3){
    width: 10px;
}
.groupTable tr th:nth-child(4),
.groupTable tr th:nth-child(5),
.groupTable tr th:nth-child(6),
.groupTable tr th:nth-child(7){
    width: 14px;
}
.groupTable tr th:nth-child(9),
.groupTable tr th:nth-child(10){
    width: 20px;
}
.groupTable tr th:nth-child(8),
.groupTable tr th:nth-child(11) {
    width:30px;
}
.keyModify {
    margin-top: 10px;
}
.marginL-2 {
    margin-left: 2%;
}
.marginL-3 {
    margin-right: 3px;
}
/*小助手所在群表格*/
.inGroupTable th:nth-child(1) {
    width: 17%;
}
.inGroupTable th:nth-child(2) {
    width: 13%;
}
.inGroupTable th:nth-child(3) {
    width: 25%;
}
.inGroupTable th:nth-child(4) {
    width: 18%;
}
#groupSearch {
    width: 90%;
}
.groupTable .form-control,
.msg2 .form-control,
.msg2 .btn-default,
.msg1 .btn-default,
.msg1 .form-control{
    border-radius: 0;
    border: 0;
    color: #5bc0de;
}
.msg2 .form-control,
.msg1 .form-control{
    padding-left: 0;
    padding-right: 0;
}
.imgBg {
    position: relative;
    border: 0;
    width: 200px;
}
.imgBg img{
    border:none;
}
.red {
    color: red;
}
.smATable th:nth-child(1),
.smATable th:nth-child(2),
.smATable th:nth-child(3),
.smATable th:nth-child(4),
.smATable th:nth-child(5){
    width: 19%;
}
.codeHidden {
    visibility: hidden;
}
.centerDiv {
    margin: auto auto;
}
#addCode {
    text-align: center;
}
#QRcode {
    /*position: fixed;*/
    /*z-index: 100;*/
}
#add {
    /*position: fixed;*/
    /*z-index: 100;*/
    width: 80%;
    text-align: center;
}
#smAcode {
    position: relative;
}
.textAlignCenter {
    text-align: center;
}
.overflowH {
    overflow: hidden;
}
.error {
    color: red;
}
.loader{
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    height: 200px;
    align-items: center;
    justify-content: center;
}
.pagination>.activeli>a,
.pagination>.activeli>span,
.pagination>.activeli>a:hover,
.pagination>.activeli>span:hover,
.pagination>.activeli>a:focus,
.pagination>.activeli>span:focus{
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}
@media (min-width: 1300px) and (max-width: 1800px){
    .menu-bg {
        min-height: 50px;
    }
    .main-tab {
        font-size: 2.5rem;
        margin-left: 10px;
        padding: 10px 12px;
    }
    .nav li >a{
        font-size: 1.4rem;
    }
    .sidebar-child li {
        line-height: 10px;
    }
    .sidebar-child li >a{
        padding-left: 43px;
    }
    .nav-tabs > li > a {
        line-height: 4px;
        font-size: 1.4rem;
    }
    .con-box {
        /*margin-top: 9px;*/
    }
    .msg-child li a{
        padding-left: 63px;
        font-size: 1.2rem;
    }

}
@media (min-width: 1800px) {
    .menu-bg {
        min-height: 55px;
    }
    .main-tab {
        font-size: 3rem;
        margin-left: 15px;
        padding: 12px 15px;
    }
    .nav li >a{
        font-size: 1.5rem;
    }
    .sidebar-child li {
        line-height: 13px;
    }
    .sidebar-child li >a{
        padding-left: 43px;
    }
    .nav-tabs > li > a {
        line-height: 4px;
        font-size: 1.5rem;
    }
    .con-box {
        /*margin-top: -5px;*/
    }
    .msg-child li a{
        padding-left: 73px;
        font-size: 1.3rem;
    }

}